*{
    margin:0;  
    padding:0;
    border:0;
    font-size: 100%;
    vertical-align: baseline;
    font:inherit;
}

.right {
    height: 30px;
    max-width: 100%;
    font-size: 25px;
    position: absolute;
    right: 50px;
    font-family: Roboto;
    font-style: normal;
    padding-top: 15px;
}

.right, p{
    color:black;
    display: flex;
    align-items: flex-end;
    margin: 25px;
}

.border{
    background-color: black;
    padding-top: 15px;
    margin-top: 50px;
    border-radius: 20px;
    margin: 0;
}

.baixar {
    color: white;
}