@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    background-image: url(/src/Pages/components/HD_wallpaper__White_Motorcycle_Cluster_Gauge_car_dashboard_indicator_needle.jfif);
    background-repeat: no-repeat;
}
.titulo, .containerImage{
    display: inline-block;
}
.titulo{
    border: 2px solid #fa8072;
    border-radius: 10px;
    width: 38%;
    height: 60vh;
    margin-left: 10px;
    margin-top: 20px;
}
.titulo h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 110px;
    width: 38%;
    height: 25vh;
    line-height: 106px;
    margin-top: 86px;
}
.titulo p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 32px;
    margin-top: 15px;
}

.containerImage{
    border: 2px solid chartreuse;
    border-radius: 10px;
    float: right;
    width: 60%;
    height: 60vh;
    margin-top: 20px;
    margin-right: 10px;
}

.footer{
    border: 2px solid blue;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    height: 30vh;
}

.container div {
    max-height: inherit;
    max-width: inherit;
}

.container img {
    float: left;
    object-fit: contain;
    width:  210px;
    height: 210px;
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.5s;
    cursor: pointer;
}

.container img:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}